<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2023 ForgeRock. All rights reserved.
  ~
  ~  This software may be modified and distributed under the terms
  ~  of the MIT license. See the LICENSE file for details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name=".InitProvider"
            android:authorities="${applicationId}.initprovider"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>