<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019 - 2023 ForgeRock. All rights reserved.
  ~
  ~ This software may be modified and distributed under the terms
  ~ of the MIT license. See the LICENSE file for details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.forgerock.android.auth">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true">

        <activity
            android:name="org.forgerock.android.auth.DummyActivity"
            android:exported="true" />

    </application>

</manifest>